@import url("./assets/font/fonts.css");

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/font/Poppins-Regular.ttf");
}

* {
  font-family: "Poppins";
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .stroke-2 {
    -webkit-text-stroke: 2px #fff;
    text-stroke: 2px #fff;
  }
  .stroke-white {
    -webkit-text-stroke-color: #fff;
    text-stroke-color: #fff;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .remove-arrow::-webkit-inner-spin-button,
  .remove-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .remove-arrow {
    -moz-appearance: textfield;
  }
}

@layer components {
  .menu-item span::before {
    content: attr(data-clip);
    color: transparent;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #ffae00;
    background-image: linear-gradient(to top, #d6b774 0%, #ffae00 100%);
    -webkit-text-stroke: 3px transparent;
    -webkit-background-clip: text;
    z-index: 1;
    height: 0%;
    overflow: hidden;
    transition: 400ms linear 0s;
  }

  .menu-item:hover span::before {
    height: 100%;
  }
}
.perspective-1000 {
  perspective: 1000px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}
